[submodule "ESS"]
	path = ESS
	url = https://github.com/emacs-ess/ESS.git
[submodule "prfgnrl"]
	path = prfgnrl
	url = https://github.com/ProofGeneral/PG
[submodule "solarized-emacs"]
	path = solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
